.card {
  background: hsl(217, 19%, 24%);
  width: 40%;
  border-radius: 14px;
  margin: 15% auto;
  text-align: center;
  position: relative;
  padding: 2.5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 12px;
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 500;
}

.paragraph {
  font-size: 28px;
  color: hsl(193, 38%, 86%);
  font-weight: 800;
}

.button {
  position: absolute;
  bottom: -10%;
  padding: 12px;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(150, 100%, 66%);
  transition: all ease 300ms;

}

.button:hover {
  box-shadow: 0px 0px 25px hsl(150, 100%, 66%);
  cursor: pointer;
}

.icon {
  transition: transform 0.5s ease-in-out;
}

.rotate {
  animation: rotate 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}