.thumbnail {
  width: 94px;
  height: 94px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.thumbnail img {
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}

.over {
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.selected {
  border: 3px solid var(--orange);
}