.mainCard {
  background-color: var(--color-white);
  width: 70%;
  margin: 30px auto 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 14px;
}


@media screen and (min-width:768px) and (max-width:1240px) {
  .mainCard {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width:767px) {
  .mainCard {
    grid: unset;
    width: 100%;
    margin: 0;
  }

}