.studentContainer {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: 20px 0;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
}

.studentContainer p {
  font-weight: 600;
  font-size: 20px;
}

.studentContainer span {
  font-weight: 300;
  letter-spacing: 1.2px;
}

.studentContainer button {
  border: 1px solid var(--secondary-color);
  padding: 6px 10px;
  color: var(--secondary-color);
  transition: all ease-in 100ms;
}

.studentContainer button:hover {
  border: 1px solid transparent;
  padding: 6px 10px;
  background-color: var(--secondary-color);
  color: var(--background-color);
}