.studentContainer {
  border-radius: 8px;
  margin: 20px auto;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1.2rem;
  background-color: var(--primary-color);
  width: 70%;
}

.studentContainer p {
  font-weight: 600;
  font-size: 20px;
  background-color: transparent;
  color: var(--background-color);
}

.studentContainer span {
  font-weight: 300;
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: transparent;
  color: var(--background-color);
}

.studentContainer button {
  border: 1px solid var(--secondary-color);
  padding: 6px 10px;
  color: var(--secondary-color);
  transition: all ease-in 100ms;
  background-color: var(--primary-color);
}

.studentContainer button:hover {
  border: 1px solid transparent;
  padding: 6px 10px;
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.icon>* {
  background-color: transparent;
  color: var(--background-color);
}

.iconBeginner ion-icon {
  color: var(--green-color);
}

.iconIntermediate ion-icon {
  color: var(--accent-color);
}

.iconAdvanced ion-icon {
  color: var(--secondary-color);
}