@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #1E2A38;
  --secondary-color: #FF6F61;
  --accent-color: #FFD700;
  --green-color: #3CB371;
  --background-color: #F4F4F9;
  --text-color: #333333;
  --border-color: #DDDDDD;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  width: 80%;
  margin: 0 auto;
  /* display: grid;
  min-height: 100vh;
  place-content: center; */
}