.productDetailsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
  width: 450px;
}

.productDetailsBox h4 {
  text-transform: uppercase;
  color: var(--grayish-blue);
  letter-spacing: 2px;
}

.productDetailsBox h2 {
  font-weight: 700;
  font-size: 30px;
  color: var(--very-dark-blue);
}

.productDetailsBox p:first-of-type {
  color: var(--dark-grayish-blue);
  font-weight: 500;

}

.productDetailsBox p:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.productDetailsBox p:nth-of-type(2) span:first-of-type {
  font-weight: 700;
  font-size: 28px;
}

.productDetailsBox p:nth-of-type(2) span:nth-of-type(2) {
  background-color: black;
  color: var(--white);
  padding: 4px 10px;
  border-radius: 6px;
}

.productDetailsBox>span:last-of-type {
  color: var(--dark-grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}

.buttonsContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  gap: 0.8rem;
}