.productDetailsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
}

.productDetailsBox h4 {
  text-transform: uppercase;
  color: var(--grayish-blue);
  letter-spacing: 2px;
}

.productDetailsBox h2 {
  font-weight: 700;
  font-size: 30px;
  color: var(--very-dark-blue);
}

.productDetailsBox p:first-of-type {
  color: var(--dark-grayish-blue);
  font-weight: 500;

}

.productDetailsBox p:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.productDetailsBox p:nth-of-type(2) span:first-of-type {
  font-weight: 700;
  font-size: 28px;
}