.titleWrapper {
  margin: 2rem auto;
  text-align: center;
  background-image: url('../src/icons/patternCircles.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem;
}

.titleWrapper h1 {
  font-size: 44px;
  color: var(--dark-blue);
  font-weight: var(--font-weight-800);
}

.titleWrapper h2 {
  font-size: 24px;
  color: var(--gray-blue);
  font-weight: var(--font-weight-600);
}

.mainCard {
  background-color: var(--white);
  min-width: 50%;
  width: fit-content;
  margin-bottom: 4rem;
  border-radius: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.displayResults {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 1rem;
  padding: 1.5rem 2rem;
}

.displayResults p {
  font-size: 18px;
  color: var(--gray-blue);
  font-weight: var(--font-weight-800);
  letter-spacing: 2.8px;
}

.calcResult {
  font-size: 44px;
  font-weight: var(--font-weight-800);
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.calcResult>span {
  font-weight: 400;
  color: var(--gray-blue);
  letter-spacing: 2.8px;
  margin-left: 5px;
  font-size: 16px;
}

.displayResults div {
  width: 100%;
  grid-column: span 2;
}

/* Input range */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  padding: 0px 2rem;
  margin-block: 2rem;

}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none !important;
  border-radius: 16px;
  height: 0.5rem;
  background: linear-gradient(to right,
      var(--soft-cyan) calc((var(--range-value) / var(--range-max)) * 100%),
      var(--light-gray-blue) calc((var(--range-value) / var(--range-max)) * 100%));
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -12px;
  background-color: hsl(174, 77%, 70%);
  background-image: url('../src/icons/iconSlider.svg');
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 1.2rem 1rem;
  height: 2rem;
  aspect-ratio: 1;
  box-shadow: 0px 15px 25px var(--soft-cyan);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: var(--cyan);
  cursor: grabbing;
}


.billingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
}


.billingContainer p {
  color: var(--gray-blue);
  font-weight: 400;
  font-size: 18px;
}

.discountSpan {
  background-color: var(--light-red);
  color: var(--dark-red);
  font-weight: var(--font-weight-600);
  border-radius: 16px;
  padding: 4px 8px;
}

.discountSpan::after {
  content: ' discount'
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-gray-blue);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--very-pale-blue);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--cyan);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--soft-cyan);
}

input:checked+.slider:before {
  -webkit-transform: translateX(22px);

  -ms-transform: translateX(22px);

  transform: translateX(22px);

}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}


/* CTA section */

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-top: 1.5px solid var(--light-gray-blue);
}

.iconsBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.iconsBox div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ctaButton {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 26px;
  padding: 10px 50px;
  white-space: nowrap;
  color: var(--dark-gray-blue);
  font-weight: var(--font-weight-600);
  cursor: pointer;
}

.cta .iconsBox span {
  font-size: var(--font-size-paragraph);
  color: var(--gray-blue);
  font-weight: var(--font-weight-600);
}

/* Mobile */
@media screen and (max-width: 768px) {
  .titleWrapper {
    margin: 1rem;
    padding: 4rem;
  }

  .titleWrapper h1 {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .titleWrapper h2 {
    font-size: 18px;
    white-space: pre-line;
  }

  .mainCard {
    width: 80%;
    margin: 0.5rem auto;
  }

  .displayResults {
    padding: 2rem 1.5rem;
    row-gap: 0.8rem;
    grid-template-columns: 1fr;
  }

  .displayResults p {
    grid-column: span 2;
    font-size: 18px;
    color: var(--gray-blue);
    font-weight: var(--font-weight-800);
    letter-spacing: 2.8px;
  }

  .calcResult {
    grid-column: span 2;
    letter-spacing: 2.5px;
  }

  .calcResult>span {
    margin-left: 15px;
  }

  .displayResults div {
    grid-row: 2;
  }


  .billingContainer p {
    font-size: 14px;
  }

  .discountSpan {
    background-color: var(--light-red);
    color: var(--dark-red);
    font-weight: var(--font-weight-600);
    border-radius: 16px;
    padding: 4px 8px;
    white-space: nowrap;
  }

  .discountSpan::before {
    content: '-';
  }

  .discountSpan::after {
    content: ' '
  }



  .billingContainer {
    gap: 0.5rem;
    padding: 1.2rem;
  }



  /* CTA section */
  .cta {
    flex-direction: column;
    gap: 1.2rem;
  }

  .iconsBox {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .iconsBox div {
    justify-content: center;
    gap: 1rem;
  }

}