.counter {
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  width: 80%;
  padding: 16px 4px;

}

.counter button {
  all: unset;
  padding: 8px 16px;
  cursor: pointer;

}

.counter div {
  text-align: center;
}