.calculatorContainer {
  padding: 1.5rem;
}

.gridFormContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  gap: 1.5rem;
  padding: 2rem;
}


.gridFormContainer div:first-child {
  grid-row: 1;
  grid-column: span 2;
}


.gridFormContainer div:nth-child(4) {
  grid-row: 3;
  grid-column: span 2;
}

.term input,
.rate input,
.mortgageType,
.gridFormContainer div:first-child input {
  width: 100%;
  border: 1px solid var(--slate-900);
  padding: 0.8rem;
  margin-bottom: 10px;
  border-radius: 6px;
  margin-top: 10px;
  text-align: center;
}


.calculatorContainer h1 {
  display: inline;
  color: var(--slate-900);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  padding: 2rem;
}

.inputWrapper {
  position: relative;

}

.icon {
  background-color: var(--slate-100);
  position: absolute;
  right: 1px;
  top: 11px;
  bottom: 11px;
  padding: calc(0.8rem - 1px);
  border-radius: 6px;
  color: var(--slate-700);
  font-weight: var(--font-weight-700);

}

.amount {
  left: 1px;
  right: unset;
}

label {
  color: var(--slate-700)
}

.mortgageType {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.mortgageType input[type='radio'] {
  width: 18px;
  aspect-ratio: 1;
}

.mortgageType label {
  font-weight: var(--font-weight-700);
  color: var(--slate-900)
}

.calculateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-lime);
  border: none;
  color: var(--slate-900);
  font-weight: var(--font-weight-700);
  padding: 0.5rem 0.8rem;
  border-radius: 46px;
  cursor: pointer;
}

.clearButton {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.custom-radio input[type="radio"] {
  display: none;
}