.calculatorContainer {
  padding: 1.5rem;
}

.gridFormContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  gap: 1.5rem;
  padding: 2rem;
}


.gridFormContainer div:first-child {
  grid-row: 1;
  grid-column: span 2;
}


.gridFormContainer div:nth-child(4) {
  grid-row: 3;
  grid-column: span 2;
}

.term input,
.rate input,
.mortgageType,
.gridFormContainer div:first-child input {
  width: 100%;
  border: 1px solid var(--slate-900);
  padding: 0.8rem;
  margin-block: 10px;
  border-radius: 6px;
  /* margin-top: 10px; */
  padding-left: 50px;
}


.term input,
.rate input,
.mortgageType {
  padding-left: 20px;
}

.calculatorContainer h1 {
  display: inline;
  color: var(--slate-900);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  padding: 2rem;
}

.inputWrapper {
  position: relative;

}


.icon {
  background-color: var(--slate-100);
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.7rem;
  border-radius: 6px;
  color: var(--slate-700);
  font-weight: var(--font-weight-700);
}

.inputWrapper input {
  width: 100%;
  box-sizing: border-box;
}

.amount {
  left: 1px;
  right: unset;
}


label {
  color: var(--slate-700);
}

.mortgageType {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}


.mortgageType label {
  font-weight: var(--font-weight-700);
  color: var(--slate-900)
}

.calculateButton {
  grid-column: span 2;
  width: 70%;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-lime);
  border: none;
  gap: 0.2rem;
  color: var(--slate-900);
  font-weight: var(--font-weight-700);
  padding: 0.8rem 2rem;
  border-radius: 46px;
  cursor: pointer;
  white-space: nowrap;
}


.clearButton {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputWrapper input[type='number']:focus {
  outline: none;
  border: 1.5px solid var(--primary-lime);
}

.inputWrapper:has(input[type='number']:focus) .icon {
  background-color: var(--primary-lime);
  padding: calc(0.7rem + 1px);
}


input[type='radio'] {
  -webkit-appearance: none;
  width: 18px;
  aspect-ratio: 1;
  border: 1px solid var(--primary-lime);
  border-radius: 50%;
  cursor: pointer;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type='radio']:checked:before {
  background-color: var(--primary-lime);
}

.mortgageType:has(input[type="radio"]:checked) {
  background-color: hsla(61, 70%, 52%, 0.2);
  border: 2px solid var(--primary-lime);
}


/* tablet */
@media screen and (min-width:768px) and (max-width:1340px) {
  .calculateButton {
    grid-column: span 2;
    width: 55%;
  }

}


/* mobile */
@media screen and (min-width:375px) and (max-width:767px) {
  .mainCard {
    grid: unset;
  }

  .gridFormContainer {
    display: block;
    padding: 1rem;
  }

  .calculateButton {
    width: 100%;
  }

  .calculatorContainer {
    padding: 0;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem;
  }

}