.formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  gap: 1rem;
  margin: 20px 0;
}

.formContainer input,
select,
button {
  border: 1px solid var(--border-color);
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

.formContainer button {
  background-color: var(--accent-color);
  border: none;
  color: var(--background-color);
  font-weight: 600;
  transition: background-color ease-in 200ms;
}

.formContainer button:hover {
  background-color: #d6b601;
}

.formContainer input:focus,
.formContainer select:focus {
  outline: 1px solid var(--accent-color);
}