.formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  gap: 1.5rem;
  margin: 80px auto;
}

.formContainer input,
select,
button {
  border: 1px solid var(--border-color);
  cursor: pointer;
  padding: 20px;
  border-radius: 4px;
}

.formContainer button {
  background-color: var(--accent-color);
  border: none;
  font-weight: 300;
  transition: background-color ease-in 200ms;
  font-size: 18px;
  letter-spacing: 2px;
}

.formContainer button:hover {
  background-color: #e4c40e;
}

.formContainer input:focus,
.formContainer select:focus {
  outline: 1px solid var(--accent-color);
}

select option {
  background-color: var(--primary-color);
  font-size: 18px;
  color: var(--background-color);
}